<div class = "row">
 <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h2>注文情報入力</h2>
  <%= form_with model:@order, url:orders_confirm_path, local:true do |f| %>
  <div class = "form">
    <label for = "inputpayment">支払方法</label>
    <%= f.radio_button :payment_method, "credit_card" %>
    <%= f.label :payment_method, "クレジットカード" %>
    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :payment_method, "銀行振り込み" %>
  </div>
  <div class = "form">
    <label for = "inputaddress">お届け先</label>
     <div class = "form">
      <%= radio_button_tag :address_option, "1" %>
      <%= f.label :address_id, "ご自身の住所"%>
      <%= @customer.postal_code %>
      <%= @customer.address %>
      <%= @customer.last_name %>
      <%= @customer.first_name %>
     </div>

     <div class = "inputaddress"></label>
      <%= radio_button_tag :address_option, "2" %>
      <%= f.label :address_id, "登録済住所から選択" %>
      <%= f.select :address_id, options_from_collection_for_select(@addresses.all, :id, :full_address) %>
     </div>
  
    <label for = "inputaddress">
      <%= radio_button_tag :address_option, "3" %>
      <%= f.label :address_id, "新しいお届け先" %>
      <div class = "form">
        <div class = "form">
         <label for = "inputaddress">郵便番号(ハイフンなし)</label>
         <%= f.text_field :postal_code %>
        </div>
        <div class = "form">
         <label for = "inputaddress">住所</label>
         <%= f.text_field :address %>
         </div>
        <div class = "form">
         <label for = "inputaddress">宛名</label>
         <%= f.text_field :name %>
        </div>
      </div>
      <div class = "form">
         <%= f.submit "確認画面へ進む" %>
      </div> 
    </label>
  </div>
  <% end %>